<!doctype html>
<html>
  <body>
    <video id="video" controls style="width:100%;max-width:900px"></video>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>
      const manifest = '{{ manifest_content|escapejs }}';

      const blob = new Blob([manifest], { type: 'application/vnd.apple.mpegurl' });
      const manifestUrl = URL.createObjectURL(blob);

      const video = document.getElementById('video');

      if (video.canPlayType('application/vnd.apple.mpegurl')) {
        // Some browsers (Safari) support HLS natively
        video.src = manifestUrl;
      } else if (Hls.isSupported()) {
        const hls = new Hls({lowLatencyMode:false});
        hls.loadSource(manifestUrl);
        hls.attachMedia(video);
      } else {
        alert('Your browser cannot play HLS.');
      }
    </script>
  </body>
</html>
